/* line 9, ../sass/_template.scss */
/*#top-bar {*/
    /*overflow: hidden;*/
/*}*/
/* line 12, ../sass/_template.scss */
/*#top-bar .tailwind.logo {*/
    /*margin-bottom: 30px;*/
    /*margin-top: 20px;*/
/*}*/
/* line 17, ../sass/_template.scss */
/*#top-bar .large-navigation {*/
    /*margin-top: 30px;*/
/*}*/
/* line 20, ../sass/_template.scss */
/*#top-bar .large-navigation ul {*/
    /*font-size: 1em;*/
    /*margin-top: 3px;*/
/*}*/
/* line 24, ../sass/_template.scss */
/*#top-bar .large-navigation ul li {*/
    /*padding-bottom: 0;*/
/*}*/
/* line 26, ../sass/_template.scss */
/*#top-bar .large-navigation ul li a {*/
    /*display: inline-block;*/
    /*padding-top: 5px;*/
    /*text-decoration: none;*/
    /*color: #333333;*/
/*}*/
/* line 35, ../sass/_template.scss */
/*#top-bar .large-navigation ul li .button {*/
    /*font-size: 0.875em;*/
    /*color: #ffffff;*/
    /*width: 100%;*/
/*}*/

/* line 48, ../sass/_template.scss */
/*.call-to-action {*/
    /*margin-bottom: 75px;*/
/*}*/
/* line 52, ../sass/_template.scss */
/*.call-to-action .columns {*/
    /*display: table;*/
    /*height: 80px;*/
/*}*/
/* line 57, ../sass/_template.scss */
/*.call-to-action .cell {*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
/*}*/
/* line 61, ../sass/_template.scss */
/*.call-to-action .cell input, .call-to-action .cell button {*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*width: 100%;*/
/*}*/
/* line 66, ../sass/_template.scss */
/*.call-to-action .cell input {*/
    /*padding: 13px 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
/*}*/
/* line 71, ../sass/_template.scss */
/*.call-to-action .cell input[placeholder] {*/
    /*color: #878787;*/
    /*vertical-align: middle;*/
/*}*/
/* line 77, ../sass/_template.scss */
/*.call-to-action i.icon-angle-right {*/
    /*font-size: 2.25em;*/
    /*color: #636363;*/
    /*width: 30px;*/
    /*float: right;*/
    /*display: block;*/
    /*margin-left: 20px;*/
    /*margin-right: -25px;*/
    /*-webkit-animation-name: shake;*/
    /*-moz-animation-name: shake;*/
    /*-ms-animation-name: shake;*/
    /*-o-animation-name: shake;*/
    /*animation-name: shake;*/
    /*-webkit-animation-duration: 15s;*/
    /*-moz-animation-duration: 15s;*/
    /*-ms-animation-duration: 15s;*/
    /*-o-animation-duration: 15s;*/
    /*animation-duration: 15s;*/
    /*-webkit-animation-iteration-count: infinite;*/
    /*-moz-animation-iteration-count: infinite;*/
    /*-ms-animation-iteration-count: infinite;*/
    /*-o-animation-iteration-count: infinite;*/
    /*animation-iteration-count: infinite;*/
/*}*/
/* line 93, ../sass/_template.scss */
/*.call-to-action h4 {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*color: #FFF;*/
    /*text-shadow: none;*/
    /*text-align: center;*/
    /*line-height: 34px;*/
    /*font-size: 1.25em;*/
/*}*/
/* line 105, ../sass/_template.scss */
/*.call-to-action .bg-wrap {*/
    /*top: -30px;*/
    /*background-image: -webkit-linear-gradient(#333333 50%, #000000);*/
    /*background-image: -moz-linear-gradient(#333333 50%, #000000);*/
    /*background-image: -o-linear-gradient(#333333 50%, #000000);*/
    /*background-image: linear-gradient(#333333 50%, #000000);*/
    /*-webkit-border-radius: 8px;*/
    /*-moz-border-radius: 8px;*/
    /*border-radius: 8px;*/
/*}*/

/* line 116, ../sass/_template.scss */
/*#footer {*/
    /*padding: 50px 0 30px;*/
    /*background: #333;*/
    /*color: #FFF;*/
/*}*/
/* line 122, ../sass/_template.scss */
/*#footer h4 {*/
    /*color: #e1e1e1;*/
    /*text-shadow: none;*/
    /*font-weight: 300;*/
    /*font-size: 0.875em;*/
    /*margin-right: 5px;*/
/*}*/
/* line 131, ../sass/_template.scss */
/*#footer ul {*/
    /*font-size: 0.75em;*/
    /*list-style: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
/* line 141, ../sass/_template.scss */
/*#footer ul li a {*/
    /*color: #FFF;*/
    /*text-decoration: none;*/
/*}*/
/* line 146, ../sass/_template.scss */
/*#footer ul li a:hover {*/
    /*color: #48aa7f;*/
    /*text-decoration: none;*/
/*}*/
/* line 154, ../sass/_template.scss */
/*#footer .social ul {*/
    /*width: 100%;*/
/*}*/
/* line 156, ../sass/_template.scss */
/*#footer .social ul li {*/
    /*text-align: right;*/
/*}*/
/* line 158, ../sass/_template.scss */
/*#footer .social ul li a i {*/
    /*margin-left: 10px;*/
    /*font-size: 1.5em;*/
    /*vertical-align: middle;*/
/*}*/
/* line 164, ../sass/_template.scss */
/*#footer .social ul li a:hover {*/
    /*text-decoration: none;*/
/*}*/
/* line 172, ../sass/_template.scss */
/*#footer .social .small-print {*/
    /*text-align: right;*/
    /*font-size: 0.625em;*/
/*}*/
/* line 175, ../sass/_template.scss */
/*#footer .social .small-print i {*/
    /*color: #de6f6c;*/
    /*margin-right: 5px;*/
    /*font-size: 0.75em;*/
/*}*/

/* line 186, ../sass/_template.scss */
.sub-hero h2, .sub-hero h4, .sub-hero h3 {
    text-align: center;
    text-shadow: none;
}
/* line 190, ../sass/_template.scss */
.sub-hero h2 {
    font-size: 2.3125em;
    margin-top: 0;
}
/* line 194, ../sass/_template.scss */
.sub-hero h3 {
    margin-bottom: 0;
    font-size:1.5em;
}

/* line 200, ../sass/_template.scss */
.rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* line 3, ../sass/_pricing.scss */
#pricing h2 {
    margin-top: 0px;
    margin-bottom:20px;
}
/* line 6, ../sass/_pricing.scss */
#pricing h3 {
    margin-bottom: 37.5px;
}

#pricing .pricing-table {
    width: 100%;
    display: inline-block;
    position: relative;
}

#pricing .pricing-wrapper {
    margin: 0 auto;
    width: 100%;
    position: relative;
    max-width: 1280px;
}

#pricing .pricing-wrapper.fixed {
    max-width: 100%;
    z-index:500;
}

/* line 11, ../sass/_pricing.scss */
#pricing .pricing-table .price-badge {
    border: 1px solid #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 30px;
    text-align:center;
}
/* line 17, ../sass/_pricing.scss */
#pricing .pricing-table .price-badge .sale {
    color: #a1a1a1;
    font-size: 16px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    text-align: center;
    text-shadow: none;
    top: 0;
    width: 200px;
}

#pricing .pricing-table .price-badge .sub-cta {
    text-align: center;
    font-size: 10px;
    margin-top: -16px;
    position: absolute;
    left: 50%;
    margin-left: -55px;
}

/* line 29, ../sass/_pricing.scss */
#pricing .pricing-table .price-badge h4 {
    color: #333;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
/* line 37, ../sass/_pricing.scss */
#pricing .pricing-table .price-badge h4 sup {
    font-size: 30px;
    position: relative;
    top: 20px;
    vertical-align: top;
    font-weight: 300;
}
/* line 45, ../sass/_pricing.scss */
#pricing .pricing-table .price-badge h4 .per-month {
    font-size: 14px;
    font-weight: 300;
}

#pricing .pricing-table .price-badge .per-brand {
    color: #333;
    font-weight: normal;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

/* line 51, ../sass/_pricing.scss */
#pricing .pricing-table .price-badge h5 {
    color: #000000;
    text-align: center;
    font-size: 19px;
    font-weight:normal;
    letter-spacing: 2px;
    margin: 5px auto 5px;
    padding-bottom: 0px;
    text-transform: uppercase;
    text-shadow: none;
    width:90%;
}

#pricing .pricing-table .price-badge h6 {
    margin: 0;
    position: absolute;
    display: block;
    text-align: center;
    width:218px;
    left: 50%;
    margin-left: -109px;
    margin-top: 0px;
    color: #AAA;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    line-height:1;
}

/* line 62, ../sass/_pricing.scss */
#pricing .pricing-table .price-badge .button {
    width: 90%;
    padding: 10px 5px;
    margin: 20px auto;
    font-size:1.2em;
}
/* line 68, ../sass/_pricing.scss */
#pricing .pricing-table .price-badge .call {
    cursor: help;
}
/* line 72, ../sass/_pricing.scss */
#pricing .pricing-table .price-badge ul {
    padding: 10px 5px;
    margin: 0;
}
/* line 75, ../sass/_pricing.scss */
#pricing .pricing-table .price-badge ul li {
    color: #555555;
    font-size: 14px;
    list-style: none outside none;
    margin: 0;
    padding: 6px 0;
    text-align: center;
}
/* line 82, ../sass/_pricing.scss */
#pricing .pricing-table .price-badge ul li s {
    color: #bababa;
}
/* line 89, ../sass/_pricing.scss */
#pricing .pricing-table .free, #pricing .pricing-table .call-us {
    border: 1px solid #ccc;
    margin-top: 40px;
    padding: 10px;
}
/* line 94, ../sass/_pricing.scss */
#pricing .pricing-table .free h5, #pricing .pricing-table .call-us h5 {
    border-bottom: 1px solid #bababa;
    padding: 10px 0px 15px;
    margin-bottom: 20px;
    margin: 0 10px;
    text-shadow: none;
    display: block;
    font-size: 1em;
}
/* line 105, ../sass/_pricing.scss */
#pricing .pricing-table .free p, #pricing .pricing-table .call-us p {
    font-size: 0.75em;
    text-align: center;
    padding: 10px;
}
/* line 111, ../sass/_pricing.scss */
#pricing .pricing-table .free .call-to-action, #pricing .pricing-table .call-us .call-to-action {
    margin: 0;
    box-shadow: none;
}
/* line 114, ../sass/_pricing.scss */
#pricing .pricing-table .free .call-to-action button, #pricing .pricing-table .call-us .call-to-action button {
    border: 1px solid #CCCCCC;
    font-size: 0.875em;
    width: 100%;
}
/* line 122, ../sass/_pricing.scss */
#pricing .pricing-table .call-us {
    margin-top: 15px;
}
/* line 130, ../sass/_pricing.scss */
#pricing #professional .price-badge h4 {
    margin-top: 40px;
}




.pricing-table #free .price-badge {
    margin-top: 130px;
    background-color: #f4f4f4;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    background-color:#eaeaea;
    border-right:0px;
    box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.1);
}

.pricing-table #free .price-badge h5 {
    margin: 18px 0 5px;
    color:#777;
    padding-bottom: 0px;
}

.pricing-table #free .price-badge button {

    font-size:100%;
    cursor:pointer;
}

.pricing-table #free .price-badge ul li span {
    color:#777;
}







.pricing-table #free .price-badge.free-right {
    border-top-right-radius:5px;
    border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0.1);
    border-right:1px solid #ccc;
    border-left:0px;
}

.pricing-table #free .free-wrapper {
    padding:0px;
}

.pricing-table #free .free-wrapper .price-badge.free-right {
    margin:65px 0 0 40px;
    background:#fff;
    padding:30px 15px 0;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    box-shadow:none;
    border-left:1px solid #ccc;
}

.pricing-table #free .free-wrapper .price-badge button {
    background:#fff;
    border:1px solid #ccc;
}

.pricing-table #free .free-wrapper .price-badge button:hover {
    opacity:1;
}



/* line 136, ../sass/_pricing.scss */
#pricing #basic .price-badge, #pricing #agencies .price-badge {
    margin-top: 40px;
    background-color: #f4f4f4;
}








/* line 142, ../sass/_pricing.scss */
#pricing #basic .price-badge {
    border-right: 0px;
    position:relative;
}








/* line 148, ../sass/_pricing.scss */
#pricing #agencies .price-badge {
    border-left: 0px;
    position:relative;
}






.pricing-table #basic .price-badge {
    border-bottom-right-radius:0px;
    border-top-right-radius:0px;
}




.pricing-table #free ul.plan-details li {
    width:116%;
    margin-left:-8%;
}





.pricing-table #professional .price-badge {
    padding-bottom:20px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    z-index:3;
    position:relative;
}

#pricing #professional .price-badge h4.larger {
    font-size: 80px;
    margin: 24px 0px 14px;
}

#pricing #basic .price {
    margin: -5px 0 14px;
    font-size: 50px;
}

.pricing-table #agencies .price-badge {
    border-bottom-left-radius:0px;
    border-top-left-radius:0px;
}

#pricing #agencies .price .contact-text {
    margin: -10px 0 15px;
}

/* line 153, ../sass/_pricing.scss */
#pricing #social-proof {
    margin-top: 37.5px;
}
/* line 157, ../sass/_pricing.scss */
#pricing #faq {
    border-top: 1px solid #ddd;
    margin-top: 75px;
    padding: 37.5px 0;
    background: #f2f2f2;
}
/* line 163, ../sass/_pricing.scss */
#pricing #faq h4 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: normal;
}

/* line 1, ../sass/_index.scss */
/*#hero {*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*background-size: 188px 187px;*/
    /*background-repeat: repeat;*/
    /*border-top: 1px solid #CCC;*/
    /*border-bottom: 1px solid #ccc;*/
/*}*/
/* line 16, ../sass/_index.scss */
/*#hero h1, #hero h2 {*/
    /*color: #FFF;*/
    /*text-shadow: 1px 1px #333;*/
/*}*/
/* line 21, ../sass/_index.scss */
/*#hero h1 {*/
    /*margin-top: 18.75px;*/
    /*margin-bottom: 0;*/
    /*line-height: 1.5;*/
    /*text-align: center;*/
/*}*/
/* line 28, ../sass/_index.scss */
/*#hero h2 {*/
    /*font-size: 1.875em;*/
/*}*/
/* line 32, ../sass/_index.scss */
/*#hero .splash {*/
    /*padding-bottom: 20px;*/
/*}*/
/* line 36, ../sass/_index.scss */
/*#hero .cell {*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
/*}*/

/* line 43, ../sass/_index.scss */
#social-proof {
    margin-bottom: 75px;
}
/* line 46, ../sass/_index.scss */
#social-proof .logos {
    margin-top: 50px;
}

/* line 52, ../sass/_index.scss */
.feature {
    padding: 75px 0;
}
/* line 55, ../sass/_index.scss */
.feature h3 {
    font-size: 1.875em;
    text-shadow: 0px 0px;
}
/* line 60, ../sass/_index.scss */
.feature ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* line 65, ../sass/_index.scss */
.feature li {
    margin: 18.75px 0;
    font-size: 1.125em;
}

/* line 72, ../sass/_index.scss */
.feature.lowlight {
    background-size: 188px 188px;
    background-repeat: repeat;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
}

/* line 83, ../sass/_index.scss */
#final-call-to-action .call-to-action {
    box-shadow: none;
}
/* line 86, ../sass/_index.scss */
#final-call-to-action .call-to-action .bg-wrap {
    top: 0;
}

/* line 4, ../sass/_signup.scss */
/*#signup .welcome h1 {*/
    /*margin-bottom: 10px;*/
/*}*/
/* line 7, ../sass/_signup.scss */
/*#signup .welcome img {*/
    /*-webkit-border-radius: 40px;*/
    /*-moz-border-radius: 40px;*/
    /*border-radius: 40px;*/
    /*display: inline-block;*/
    /*height: 45px;*/
    /*width: 45px;*/
    /*vertical-align: top;*/
/*}*/
/* line 15, ../sass/_signup.scss */
/*#signup .what-we-doin {*/
    /*text-align: center;*/
/*}*/
/* line 18, ../sass/_signup.scss */
/*#signup .what-we-doin .cycle-slideshow {*/
    /*position: relative;*/
    /*margin-bottom: 50px;*/
/*}*/
/* line 22, ../sass/_signup.scss */
/*#signup .what-we-doin .cycle-slideshow p {*/
    /*font-size: 14px;*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*position: static;*/
    /*display: none;*/
    /*top: 0;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
/* line 36, ../sass/_signup.scss */
/*#signup .relative {*/
    /*position: relative;*/
/*}*/
/* line 39, ../sass/_signup.scss */
/*#signup #background-images {*/
    /*overflow: hidden;*/
    /*z-index: 0;*/
    /*margin-bottom: 50px;*/
/*}*/
/* line 45, ../sass/_signup.scss */
/*#signup #background-images .row {*/
    /*margin: 0;*/
/*}*/
/* line 49, ../sass/_signup.scss */
/*#signup #background-images .columns {*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
/* line 53, ../sass/_signup.scss */
/*#signup #background-images .columns ul {*/
    /*margin: 0;*/
/*}*/
/* line 55, ../sass/_signup.scss */
/*#signup #background-images .columns ul li {*/
    /*padding: 0;*/
/*}*/
/* line 57, ../sass/_signup.scss */
/*#signup #background-images .columns ul li img {*/
    /*margin: 0 auto;*/
    /*width: 100px;*/
/*}*/
/* line 68, ../sass/_signup.scss */
/*#signup h1 {*/
    /*text-align: center;*/
/*}*/
/* line 72, ../sass/_signup.scss */
/*#signup #tour {*/
    /*background: rgba(0, 0, 0, 0.93);*/
    /*-webkit-border-radius: 10px;*/
    /*-moz-border-radius: 10px;*/
    /*border-radius: 10px;*/
    /*display: none;*/
    /*color: #FFF;*/
    /*left: 50%;*/
    /*margin-left: -310px;*/
    /*position: absolute;*/
    /*top: 70px;*/
    /*width: 620px;*/
/*}*/
/* line 88, ../sass/_signup.scss */
/*#signup #tour .row {*/
    /*margin: 0;*/
/*}*/
/* line 92, ../sass/_signup.scss */
/*#signup #tour .columns {*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
/* line 96, ../sass/_signup.scss */
/*#signup #tour .glance {*/
    /*padding: 10px 10px 0 10px;*/
/*}*/
/* line 98, ../sass/_signup.scss */
/*#signup #tour .glance h2 {*/
    /*font-family: 'pacificoregular';*/
    /*font-size: 1.375em;*/
    /*margin: 10px 0 0;*/
/*}*/
/* line 103, ../sass/_signup.scss */
/*#signup #tour .glance h3 {*/
    /*font-size: 2.5em;*/
    /*margin: 10px 0 0;*/
/*}*/
/* line 107, ../sass/_signup.scss */
/*#signup #tour .glance h4 {*/
    /*margin: 0;*/
    /*text-align: right;*/
/*}*/
/* line 111, ../sass/_signup.scss */
/*#signup #tour .glance h2, #signup #tour .glance h3, #signup #tour .glance h4 {*/
    /*text-shadow: none;*/
/*}*/
/* line 116, ../sass/_signup.scss */
/*#signup #tour .tabs {*/
    /*padding: 20px;*/
/*}*/
/* line 119, ../sass/_signup.scss */
/*#signup #tour .tabs .advice-navigation {*/
    /*margin: 0;*/
    /*padding: 0px 0px 10px;*/
/*}*/
/* line 122, ../sass/_signup.scss */
/*#signup #tour .tabs .advice-navigation li {*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
/* line 127, ../sass/_signup.scss */
/*#signup #tour .tabs .advice-navigation a {*/
    /*text-decoration: none;*/
    /*color: #a1a1a1;*/
/*}*/
/* line 131, ../sass/_signup.scss */
/*#signup #tour .tabs .advice-navigation a.active {*/
    /*color: #FFF;*/
/*}*/
/* line 136, ../sass/_signup.scss */
/*#signup #tour .tabs p {*/
    /*font-size: 0.75em;*/
/*}*/
/* line 142, ../sass/_signup.scss */
/*#signup #tour .boards, #signup #tour .followers {*/
    /*display: none;*/
/*}*/
/* line 146, ../sass/_signup.scss */
/*#signup #tour .form {*/
    /*background: rgba(255, 255, 255, 0.2);*/
    /*padding: 10px;*/
/*}*/
/* line 149, ../sass/_signup.scss */
/*#signup #tour .form input, #signup #tour .form button {*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*width: 100%;*/
    /*margin: 4px 0;*/
/*}*/
/* line 154, ../sass/_signup.scss */
/*#signup #tour .form input {*/
    /*padding: 5px;*/
    /*border: 1px solid #CCC;*/
    /*font-size: 0.875em;*/
/*}*/
/* line 161, ../sass/_signup.scss */
/*#signup #tour .pins-wrap {*/
    /*text-align: center;*/
/*}*/
/* line 164, ../sass/_signup.scss */
/*#signup #tour .boards-wrap {*/
    /*text-align: center;*/
/*}*/
/* line 167, ../sass/_signup.scss */
/*#signup #tour .followers-wrap {*/
    /*text-align: center;*/
/*}*/
/* line 170, ../sass/_signup.scss */
/*#signup #tour .create-wrap {*/
    /*float: right;*/
/*}*/
/* line 173, ../sass/_signup.scss */
/*#signup #tour .password-wrap {*/
    /*padding: 1px;*/
/*}*/
/* line 176, ../sass/_signup.scss */
/*#signup #tour .submit-wrap {*/
    /*padding: 1px;*/
/*}*/
/* line 181, ../sass/_signup.scss */
/*#signup .finish-signup {*/
    /*background-image: -webkit-linear-gradient(#333333 50%, #000000);*/
    /*background-image: -moz-linear-gradient(#333333 50%, #000000);*/
    /*background-image: -o-linear-gradient(#333333 50%, #000000);*/
    /*background-image: linear-gradient(#333333 50%, #000000);*/
    /*padding: 40px 0;*/
    /*margin-bottom: 30px;*/
/*}*/
/* line 186, ../sass/_signup.scss */
/*#signup .finish-signup input {*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*width: 100%;*/
    /*padding: 8px;*/
/*}*/
/* line 192, ../sass/_signup.scss */
/*#signup .finish-signup input, #signup .finish-signup button, #signup .finish-signup .button {*/
    /*margin-top: 16px;*/
/*}*/
/* line 196, ../sass/_signup.scss */
/*#signup .finish-signup img {*/
    /*border: 1px solid #a1a1a1;*/
    /*display: block;*/
    /*margin: 0 auto;*/
/*}*/
/* line 202, ../sass/_signup.scss */
/*#signup .finish-signup h3 {*/
    /*color: #fff;*/
    /*text-shadow: none;*/
/*}*/
/* line 208, ../sass/_signup.scss */
/*#signup #faq {*/
    /*border-top: 1px solid #ddd;*/
    /*margin-top: 37.5px;*/
    /*padding: 37.5px 0;*/
    /*background: #f2f2f2;*/
/*}*/
/* line 214, ../sass/_signup.scss */
/*#signup #faq h4 {*/
    /*font-size: 20px;*/
    /*line-height: 30px;*/
    /*margin-bottom: 0;*/
    /*font-weight: normal;*/
/*}*/

.faq p {
    margin-bottom:30px;
}

#pricing .btn {
    display:none;
    margin-top: 40px;
}

#pricing .btn#feature-toggle.fixed {
    margin:15px auto;
}

#feature-toggle {
    border: 2px solid rgba(24,172,71,0.6);
}

#feature-toggle:hover{
    border: 2px solid rgba(24,172,71,1);
}

#pricing a.btn.btn-success {
    display: inline-block;
    text-decoration: none;
}

#pricing a.btn.btn-downgrade {
    color: #777777;
    display: inline-block;
    text-decoration: none;
}

#pricing #free a.btn.free-button {
    color: #777777;
    display: inline-block;
    text-decoration: none;
}


.active-plan-lite #basic .btn {
    display: inline-block;
    cursor: default;
}

.active-plan-lite #basic .btn.btn-success {
    display: none;
}

.active-plan-pro #professional .btn {
    display: inline-block;
    cursor: default;
}


.active-plan-pro #professional .btn.btn-success {
    display: none;
}


.active-plan-agency #agencies .btn {
    display: inline-block;
    cursor: default;
}

.active-plan-agency #agencies .btn.btn-success {
    display: none;
}


.active-plan-free #free .btn.button {
    display: inline-block;
    cursor: default;
}

.active-plan-free #free a.btn.free-button {
    display: none !important;
}




.pricing-table .btn.btn-large.all-features {
    display:block !important;
    width:300px;
}

.under {
    margin: 0 auto;
    width: 300px;
}

.under a, .under a:hover {
    text-decoration:none;
}

.under.fixed {
    position: fixed;
    bottom: 0;
    width: 88%;
    background: #fff;
    box-shadow: 0px -7px 24px -10px rgba(0,0,0,0.1);
}

#pricing .price-badge .oomph {
    background-color: #EFF8DD;
    padding:2px 2px 0 2px;
}

#pricing .price-badge .oomph-alt {
    background-color: #FFF;
    padding:2px 2px 0 2px;
}

#pricing .price-badge.sale {
    background: #FFF url(/img/pricing-tag.png) top right no-repeat;
}



.tip.has-tip {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.tip.has-tip:hover {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
    cursor:help;
}

#pricing .pricing-table .price-badge .tip .oomph, #pricing .pricing-table .price-badge .tip .oomph-alt {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}
#pricing .pricing-table .price-badge .tip .oomph:hover, #pricing .pricing-table .price-badge .tip .oomph-alt:hover {
    border-bottom:1px dashed rgba(0,0,0,0.5);
}

#pricing .pricing-table .price-badge .tip i {
    color: #d5d5d5;
    visibility:hidden;
}

#pricing .pricing-table .price-badge .tip i:hover {
    color: #aaa;
}


.tip-highlight {
    color: rgb(72, 170, 127);
}

.tip-highlight.alt {
    color:rgb(247,92,92);
}

.tip-highlight.green {
    color:rgb(72, 170, 127);
}