vagrant/.vagrant

storage/cache/*
!storage/cache/.gitkeep

storage/logs/*
!storage/logs/.gitkeep

storage/meta/*
!storage/meta/.gitkeep

storage/sessions/*
!storage/sessions/.gitkeep

storage/views/*
!storage/views/.gitkeep

.idea
web-apps

*.box

digital_ocean