<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">

        <li class="active">
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="/">
                <i class="icon-home"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a class="dropdown-toggle" href="#">
                <i class="icon-group"></i>
                <span>Customers</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="/customers">Customer list</a></li>
                <li><a href="/customers/leads">Incoming leads</a></li>
                <li><a href="/customers/churn">Churn report</a></li>
                <li><a href="/customers/activity">Activity list</a></li>
            </ul>
        </li>

        <li>
            <a class="dropdown-toggle" href="#">
                <i class="icon-gift"></i>
                <span>Demo Account</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="/demo/new">Create New</a></li>
                <li><a href="/demo/summary">Demo Account Summary</a></li>
            </ul>
        </li>

        <li>
            <a class="dropdown-toggle" href="#">
                <span><i class="icon-pinterest"></i>API</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="/pinterest/calls">Calls Graph</a></li>
                <li><a href="/pinterest/status">Status</a></li>
            </ul>
        </li>

        <li>
            <a class="dropdown-toggle" href="#">
                <i class="icon-hdd"></i>
                <span>Servers</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="/engines/status">All Engines</a></li>
                <li><a href="/servers/database">Database</a></li>
                <li><a href="/servers/dataengines">DataEngines</a></li>
                <li><a href="/servers/frontend">Frontend</a></li>
                <li><a href="/servers/catalog">Catalog</a></li>
                <li><a href="/servers/testdatabase">Test DB</a></li>
                <li><a href="/servers/testdataengines">Test DataEngines</a></li>
            </ul>
        </li>

        <li>
            <a class="dropdown-toggle" href="#">
                <i class="icon-cogs"></i>
                <span>Queues</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="/email/queue/">Email</a></li>
                <li><a href="/pinterest/queue/">Api calls</a></li>
                <li><a href="/pinterest/queue/errors/">Errors</a></li>
            </ul>
        </li>

        <li>
            <a class="dropdown-toggle" href="#">
                <i class="icon-hdd"></i>
                <span>Calculations</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="/calcs/status">Status</a></li>
            </ul>
        </li>


    </ul>
</div>
<!-- end sidebar -->