//Pretty dumb helper function, but whatever
@mixin button-background($dark,$light,$divide) {
  @include background-image(linear-gradient($light $divide, $dark));
}


button, .button, a.button {
  @include border-radius(3px);
  padding:7px 15px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.primary.button, .secondary.button, .decline.button {
  color:#ffffff;

}

.primary.button {
  border:1px solid $blue-dark;
  @include button-background($blue-dark,$blue-light,10%);
  text-shadow:1px 1px darken($blue-dark,10%);

}
.primary.button:hover {
  @include button-background($blue-dark,$blue-light,60%);
}

.primary.button:active {
  @include button-background($blue-dark,$blue-light,50%);
}
.secondary.button {
  border:1px solid $green-dark;
  @include button-background($green-dark,$green-light,10%);
  text-shadow:1px 1px darken($green-dark,10%);

}

.secondary.button:hover {
  @include button-background($green-dark,$green-light,50%);
}

.decline.button {
  @include button-background($red-dark,$red-light,10%);
}

.disabled.button {

}

.alternative.button {

}








