#hero {

  position: relative;
  overflow:hidden;

  //@include button-background($red-dark, $red-light, 30%);

  //background: url('/img/gplaypattern_@2X.png');
  background-size: 188px 187px;
  background-repeat: repeat;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #ccc;

  //@include css-arrow($position:bottom,$size:20px,$offset:25px);

  h1, h2 {
    color: #FFF;
    text-shadow: 1px 1px #333;
  }

  h1 {
    margin-top: $spacing/4;
    margin-bottom:0;
    line-height: 1.5;
    text-align:center;
  }

  h2 {
    font-size: emCalc(30px);
  }

  .splash {
    padding-bottom: 20px;
  }

  .cell {
    display: table-cell;
    vertical-align: middle;
  }

  .headline-link.has-tip {
    color:#fff;
    text-decoration:none;
    font-weight:300;
    border:none;
  }

  .headline-link:hover {
    text-decoration:underline;
  }

}

#social-proof {

  margin-bottom: $spacing;
  .logos {
    margin-top: 50px;
  }

  .sub-headline-link.has-tip {
    color:#000;
    text-decoration:none;
    font-weight:300;
    font-size:20px;
    border:none;
  }

  .sub-headline-link:hover {
    text-decoration:underline;
  }

}

.feature {
  padding: $spacing 0;

  h3 {
    font-size: emCalc(30px);
    text-shadow: 0px 0px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: $spacing/4 0;
    font-size: emCalc(18px);
  }

}

.feature.lowlight {

  background: url('http://d3iavkk36ob651.cloudfront.net/img/pw_pattern_@2X.png');
  background-size: 188px 188px;
  background-repeat: repeat;

  //background: $lowlight;
  border-top: 1px solid darken($lowlight, 20%);
  border-bottom: 1px solid darken($lowlight, 20%);
}

#final-call-to-action {

  margin-top:70px;

  .call-to-action {
    box-shadow:none;

    .bg-wrap {
      top:0;

    }
  }
}

#index {
  .testimonial.feature {
    padding:20px;
    background:#fff;
    border-radius:10px;
    border:1px solid rgba(0,0,0,0.1);
    line-height:1.5em;
    font-size:15px;

    .content {
      font-size:17px;
    }
  }

  .press {
    margin-bottom:70px;
  }
}